.icon-blank{
	background:url('../images/blank_16.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/edit_add_14.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/pencil_14.png') no-repeat center center;
}
.icon-clear{
	background:url('../images/clear_14.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/edit_remove_14.png') no-repeat center center;
}
.icon-save{
	background:url('../images/filesave_14.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/cut_14.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/ok_14.png') no-repeat center center;
}
.icon-no{
	background:url('../images/no_14.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/cancel_14.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/reload_14.png') no-repeat center center;
}
.icon-search{
	background:url('../images/search_14.png') no-repeat center center;
}
.icon-print{
	background:url('../images/print_14.png') no-repeat center center;
}
.icon-help{
	background:url('../images/help_14.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/undo_14.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/redo_14.png') no-repeat center center;
}
.icon-back{
	background:url('../images/back_14.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/sum_14.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/tip_14.png') no-repeat center center;
}
.icon-filter{
	background:url('../images/filter_14.png') no-repeat center center;
}
.icon-man{
	background:url('../images/man_14.png') no-repeat center center;
}
.icon-lock{
	background:url('../images/lock_14.png') no-repeat center center;
}
.icon-more{
	background:url('../images/more_14.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../images/mini_add_14.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/mini_edit_14.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/mini_refresh_14.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../images/large_picture_14.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../images/large_clipart_14.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../images/large_shapes_14.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../images/large_smartart_14.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../images/large_chart_14.png') no-repeat center center;
}
