.icon-blank{
	background:url('../images/blank_7.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/edit_add_7.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/pencil_7.png') no-repeat center center;
}
.icon-clear{
	background:url('../images/clear_7.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/edit_remove_7.png') no-repeat center center;
}
.icon-save{
	background:url('../images/filesave_7.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/cut_7.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/ok_7.png') no-repeat center center;
}
.icon-no{
	background:url('../images/no_7.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/cancel_7.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/reload_7.png') no-repeat center center;
}
.icon-search{
	background:url('../images/search_7.png') no-repeat center center;
}
.icon-print{
	background:url('../images/print_7.png') no-repeat center center;
}
.icon-help{
	background:url('../images/help_7.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/undo_7.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/redo_7.png') no-repeat center center;
}
.icon-back{
	background:url('../images/back_7.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/sum_7.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/tip_7.png') no-repeat center center;
}
.icon-filter{
	background:url('../images/filter_7.png') no-repeat center center;
}
.icon-man{
	background:url('../images/man_7.png') no-repeat center center;
}
.icon-lock{
	background:url('../images/lock_7.png') no-repeat center center;
}
.icon-more{
	background:url('../images/more_7.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../images/mini_add_7.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/mini_edit_7.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/mini_refresh_7.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../images/large_picture_7.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../images/large_clipart_7.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../images/large_shapes_7.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../images/large_smartart_7.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../images/large_chart_7.png') no-repeat center center;
}
