.icon-blank{
	background:url('../images/blank_2.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/edit_add_2.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/pencil_2.png') no-repeat center center;
}
.icon-clear{
	background:url('../images/clear_2.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/edit_remove_2.png') no-repeat center center;
}
.icon-save{
	background:url('../images/filesave_2.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/cut_2.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/ok_2.png') no-repeat center center;
}
.icon-no{
	background:url('../images/no_2.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/cancel_2.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/reload_2.png') no-repeat center center;
}
.icon-search{
	background:url('../images/search_2.png') no-repeat center center;
}
.icon-print{
	background:url('../images/print_2.png') no-repeat center center;
}
.icon-help{
	background:url('../images/help_2.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/undo_2.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/redo_2.png') no-repeat center center;
}
.icon-back{
	background:url('../images/back_2.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/sum_2.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/tip_2.png') no-repeat center center;
}
.icon-filter{
	background:url('../images/filter_2.png') no-repeat center center;
}
.icon-man{
	background:url('../images/man_2.png') no-repeat center center;
}
.icon-lock{
	background:url('../images/lock_2.png') no-repeat center center;
}
.icon-more{
	background:url('../images/more_2.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../images/mini_add_2.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/mini_edit_2.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/mini_refresh_2.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../images/large_picture_2.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../images/large_clipart_2.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../images/large_shapes_2.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../images/large_smartart_2.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../images/large_chart_2.png') no-repeat center center;
}
