<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ERP</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/icon.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/css.css">
    {block name='css'}{/block}

    <script type="text/javascript" src="__STATIC__/js/jquery.min_1.js"></script>
    <script type="text/javascript" src="__STATIC__/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/swfobject.js"></script>
    <script type="text/javascript" src="__STATIC__/js/web_socket.js"></script>
    {block name='js'}{/block}

    {block name='style'}{/block}

</head>

{block name='body'}{/block}

{block name='script'}{/block}
<html>
